html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.key{
    display : inline-block;
    min-width: 250px;
}

.lightFont{
  color: #A4A4A4;
}

.value{
    display : inline-block;
    min-width: 100px;
}

.infoKey{
    display : inline-block;
    min-width: 100px;
}

.infoValue{
    display : inline-block;
    min-width: 150px;
}

.adminFont {
  font: 14px '.HelveticaNeueDeskInterface-Regular';
}

.errorMessage{
  color: #B63131;
}

.paddingTop{
  padding-top: 20px;
}

.paddingTopBig{
  padding-top: 50px;
}

.paddingLeft{
  padding-left: 20px;
}

.paddingAll{
  padding: 10px;
}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  color: #555252;
}

fieldset {
  border: none;
  margin: 0;
}

#forgotPassword-form, #changeData-form ,#taxonomy-form  {
  width: 40%;
}

.taxonomy {
  width:70%;

}

#login-form fieldset, #forgotPassword-form fieldset, #changeData-form fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

#login-form fieldset:before, #forgotPassword-form fieldset:before, #changeData-form  fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#login-form input, #forgotPassword-form input, #changeData-form input, #changeData-form textarea, #taxonomy-form input {
  font-size: 14px;
}

#login-form input[type="email"],
#login-form input[type="password"] {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 95%;
}

#login-form input[type="email"] {
  border-radius: 3px 3px 0 0;
}

#forgotPassword-form input[type="emailReset"], #changeData-form input[type="email"], #changeData-form input[type="password"], #changeData-form input[type="text"]  {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 95%;
  border-radius: 3px 3px 0 0;
}

#taxonomy-form input[type="taxonomy"]  {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 96%;
  border-radius: 3px 3px 0 0;
}

#changeData-form textarea {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 95%;
  border-radius: 3px 3px 0 0;
}

#changeData-form select{
  border: 1px solid #dcdcdc;
  width: 98%;
  height:40px;
  border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
  border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"], #forgotPassword-form input[type="submit"], #changeData-form input[type="submit"] {
  background: #555252;
  border-radius: 1px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px 20px;
}

#taxonomy-form input[type="submit"] {
  background: #555252;
  border-radius: 1px;
  color: #fff;
  float: right;
  font-weight: normal;
  margin-top: 10px;
}

#login-form input[type="submit"]:hover {
  background: #7A7A7C;
  color: #fff;
}

#changeData-form input[type="checkbox"]{
  float: right;
}

#login-form footer {
  font-size: 12px;
  margin-top: 16px;
}

.infoMessage {
  font-size: 12px;
  margin-top: 100px;
  color: #B9B9BF;
}

.usersImage {
	width: 150px;
	height: 150px;
}

.usersImageEdit {
  width: 200px;
  height: 200px;
}

.imageContainer {
  height: 160px;
  width: 99%;
  margin: 10px auto;
  position: relative;
}

.imageBox {
  margin-left: 20%;
  left: 50%;
}

.right {
    float: right;
    padding: 10px;
}

.rightLink {
    color: #545D61;
    text-decoration: none;
}

#main {
    margin: 0 auto;
    width: 70%;
    height: 100%;
    border:2px solid black;
    overflow: hidden; 
}

.paddingBottom {
    padding-bottom: 15px;
}

#sidebar    {
    width: 20%;
    background: #dcdbda;
    float: left;
    height: 100%;
    border-right:2px solid black;
    padding: 1%;

    margin-bottom: -99999px;
  padding-bottom: 99999px;
}

#page-wrap  {
    width: 70%;
    float: left;
    padding: 3%;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}

.marginForNavigation{
  margin-right: 15px;
}

.marginTop{
  margin-top: 40px;
}

.marginBottom{
  margin-bottom: 20px;
}

.marginRight{
  margin-right: 5px;
}

.button_example{
 font-size:10px;font-family:helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block; color: #FFFFFF;
 background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.button_example:hover{
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}