@font-face {
    font-family: 'league gothic';
    src: url('/f/LeagueGothic.otf');
}
@font-face {
    font-family: 'brix';
    src: url('/f/BrixSlab-Medium.otf');
}

html, body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  height:100%;
  margin: 0;
  padding: 0;
}

h2 {
  margin-top: 40px;
  font-family: 'league gothic';
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .03em;

}


*:hover {
    transition: all 0.3s ease 0.0s;
		-moz-transition: all 0.3s ease 0.0s;
		-webkit-transition: all 0.3s ease 0.0s;
		-o-transition: all 0.3s ease 0.0s;
		-ms-transition: all 0.3s ease 0.0s;
}

.header {display:none; height:0;}

.firstname {font-size: 1.4em;}
.lastname {font-size: .8em; line-height: 1;}


.linkFont {
  color: #999;
}

.headlineFont{
  font-size: 20px;
}

.fontSmall {
  font-size: 13px;
}

.fontExtraSmall {
  font-size: 11px;
}

.overflow{
  overflow: hidden;
}

.approved {
  color: #04B431;
}

.key{
    display : inline-block;
    min-width: 86%;
    padding-left: 10px;
}

.userInfoKey{
    display : inline-block;
    min-width: 200px;
}

.taxonomyKey{
    display : inline-block;
    min-width: 22%;
    padding-left: 10px;
}

.infoKey{
    display : inline-block;
    min-width: 100px;
}

.moduleKey{
    /*display : inline-block;
    min-width: 86%;*/
    padding-left: 10px;
    float: left;
    padding-top: 5px;
}

.moduleValue{
    /*display : inline-block;*/
    margin-right: 0;
    float: right;
}

.value{
    display : inline-block;
}

.userInfoValue{
    display : inline-block;
    min-width: 150px;
}

.taxonomyValue{
    display : inline-block;
}

.infoValue{
    display : inline-block;
    min-width: 150px;
}

.lightFont{
  color: #A4A4A4;
}

.adminFont {
  font: 14px '.HelveticaNeueDeskInterface-Regular';
}

.errorMessage{
  color: #B63131;
}

.taxonomy {
  width:70%;

}

a {
  color: #999;
  text-decoration: none;
}

a:hover {
  /* color: #555252; */
}

fieldset {
  border: none;
  margin: 0;
}

#forgotPassword-form, #changeData-form ,#taxonomy-form  {
  width: 60%;
}

#forgotPassword-form fieldset, #changeData-form fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}

#forgotPassword-form fieldset:before, #changeData-form  fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#forgotPassword-form input, #changeData-form input, #changeData-form textarea, #taxonomy-form input {
  font-size: 14px;
}


#forgotPassword-form input[type="emailReset"], #changeData-form input[type="email"], #changeData-form input[type="password"], #changeData-form input[type="text"]  {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 95%;
  border-radius: 3px 3px 0 0;
}

#taxonomy-form input[type="taxonomy"]  {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 96%;
  border-radius: 3px 3px 0 0;
}

#changeData-form textarea {
  border: 1px solid #dcdcdc;
  padding: 10px 5px;
  width: 95%;
  border-radius: 3px 3px 0 0;
}

#changeData-form select{
  border: 1px solid #dcdcdc;
  width: 98%;
  height:40px;
  border-radius: 3px 3px 0 0;
}

.selectDropdown {
  border: 1px solid #dcdcdc;
  width: 50%;
  height:30px;
  border-radius: 3px 3px 0 0;
}

#forgotPassword-form input[type="submit"], #changeData-form input[type="submit"] {
  background: #555252;
  border-radius: 1px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 5px 20px;
}

#taxonomy-form input[type="submit"] {
  background: #555252;
  border-radius: 1px;
  color: #fff;
  float: right;
  font-weight: normal;
  margin-top: 10px;
}

#changeData-form input[type="checkbox"]{
  float: right;
}

.infoMessage {
  font-size: 12px;
  /*margin-top: 100px;*/
  color: #B9B9BF;
}

.marginTopForTaxonomy{
  margin-top: 100px;
}

.usersImage {
	width: 100%;
	height: auto;
}

.usersImageEdit {
  width: 200px;
  height: 200px;
}

.imageContainer {
  height: 280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow:hidden;
}

.right {
    float: right;
    padding: 10px;
}

#main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    /*overflow: hidden;*/
}

#sidebar {
    background: #333;
    float: left;
    max-width: 300px;
    color: #ededed;
    /*margin-bottom: -99999px;
    padding-bottom: 99999px;*/
}

#sidebar .content {padding: 10px;}

#sidebar .description {
    color: #999;
    padding: 30px 0 0 0;
    border-top: 1px solid #4d4d4d;
    margin-top: 30px;
}

a.rightLink,
#sidebar .meta {
    color: #999;
    font-size:.8em;
}

a.rightLink {
  display:inline-block;
  margin: 0 8px;
}

button {
  font-size: 1em;
  border:0;
  width: 100%;
  border-radius: 4px;
  margin: 5px 0;
  cursor:pointer;
}

#sidebar button {
  background: #ededed;
  color: #333;
  font-size: 1em;
  padding: 12px 0;
}

#sidebar button:hover {
    background:#ccc;
  }

#sidebarEmpty {
    display:none;
}

.points_total, .points_modules {
  display:inline-block;
}
.points_total {
  font-family: 'league gothic';
    font-size: 2.2em;
    text-transform: uppercase;
    border-radius: 42px;
    border: 1px solid #D4E9BE;
    /* background: #D4E9BE; */
    color: #D4E9BE;
    padding: 12px 0;
    width: 20%;
    margin: 0 4% 0 0;
    vertical-align: top;
    text-align: center;
}

.points_modules {
  width: 75%;
}

#page-wrap  {
    width: 70%;
    float: left;
    padding: 3%;
}

.right-sidebar  {
    max-width: 400px;
    /*width:400px;*/
    float: left;
    /*padding: 3%;*/
}

.list{
  width: 500px;
  float: left;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}

.userItem,
.moduleItem {
  padding: 8px 0 14px 0;
  width:90%;
  margin: 5px 0;
  cursor:pointer;
}

.itemBackground {
  border-left:4px solid #EBEBEC;
  color: #5e5e5e;
}

.itemBackground:hover {
  background-color: #EBEBEC;
}

.itemBackgroundRejected:hover,
.itemBackgroundRejected:hover a {
  background-color: #F6CECE;
}

.itemBackgroundFinished {
  border-left: 4px solid #D4E9BE;
  color: #297A54;
}

.itemBackgroundFinished:hover,
.itemBackgroundFinished:hover a {
  background-color: #D4E9BE;
  color: #297A54;
}

.userItem.itemBackground {border:0;}

.button_example{
 font-size:10px;font-family:helvetica, sans-serif; padding: 5px 5px 5px 5px; text-decoration:none; display:inline-block; color: #FFFFFF;
 background-color: #7d7e7d; background-image: -webkit-gradient(linear, left top, left bottom, from(#7d7e7d), to(#0e0e0e));
 background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
 background-image: linear-gradient(to bottom, #7d7e7d, #0e0e0e);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#7d7e7d, endColorstr=#0e0e0e);
}

.button_example:hover{
 background-color: #646464; background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
 background-image: -webkit-linear-gradient(top, #646464, #282828);
 background-image: -moz-linear-gradient(top, #646464, #282828);
 background-image: -ms-linear-gradient(top, #646464, #282828);
 background-image: -o-linear-gradient(top, #646464, #282828);
 background-image: linear-gradient(to bottom, #646464, #282828);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#646464, endColorstr=#282828);
}
